<div class="container">
    <pre>
Welcome to URL Shortener app. This app provides URL shortening with saving to database.

Unathorized users can only see list of already shortened URLs. App has 2 types of users: standard user and admin.
Authorized standard users are able to shorten their URLs, view info about all shortened URLs and delete their own URLs.
Admins also are able to delete all existing URLs.

Login info is stored in localStorage so you dont need to reauthorize after page peload.

When you try to shorten already shortened URL app tells you about it and doesnt create new DB record.

When you use shortened URL app automatically redirect you to original URL.
    </pre>
</div>